.DS_Store
bin/.DS_Store
imagePlayer.xcodeproj/project.xcworkspace/xcuserdata/cyrussuen.xcuserdatad/UserInterfaceState.xcuserstate
bin/imagePlayer.app
bin/imagePlayerDebug.app
*.mov
*.mp3

# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
